<html lang="en">

<head>
  <title>{{ .Site.Title }}</title>
  {{ partial "meta.html" . }}
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  {{ partial "style.html" . }}
</head>

<body id="page-top" class="layout-404">
  {{ partial "navbar.html" . }}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-content">
            <div class="header-content-inner text-center">
              <h1>404 Page Not Found</h1>
              <a href="/" class="btn btn-outline btn-xl page-scroll">Back To Top</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  {{ partial "footer.html" . }}
  {{ partial "script.html" . }}
</body>

</html>
