<!DOCTYPE html>
{{ .Scratch.Add "title" "" }}{{ if isset .Site.Data.titles .Title }}{{ .Scratch.Set "title" (index .Site.Data.titles .Title).title }}{{ else }}{{ .Scratch.Set "title" .Title}}{{end -}}
<html lang="en" class="js csstransforms3d">
  <head>
    <title>{{ .Scratch.Get "title" }}</title>
    {{ partial "meta.html" . }}
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    404 Not Founad
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
