<html lang="en">

<head>
  <title>{{ .Site.Title }}</title>
  {{ partial "meta.html" . }}
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  {{ partial "style.html" . }}
</head>

<body id="page-top" class="layout-index">
  {{ partial "navbar.html" . }}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-content">
            <div class="header-content-inner text-center">
              <h1>Your SSH operation becomes more efficient and convenient.</h1>
              <a href="/intro/en/index.html" class="btn btn-outline btn-xl page-scroll">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="features content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h2>Features</h2>
            <p class="text-muted">
              Essh is a single binary CLI tool and simply wraps ssh command. <br />
              You can use it in the same way as ssh. And it has useful features over ssh.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="feature-item">
                  <i class="icon-settings text-primary"></i>
                  <h3>Configuration As Code</h3>
                  <p class="text-muted">You can write SSH client configuration (aka: <code>~/.ssh/config</code>) in Lua code. So your ssh_config can become more dynamic.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-item">
                  <i class="icon-fire text-primary"></i>
                  <h3>Hooks</h3>
                  <p class="text-muted">Essh supports hooks that execute commands when it connects a remote server.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-item">
                  <i class="icon-list text-primary"></i>
                  <h3>Servers List Management</h3>
                  <p class="text-muted">Essh provides utilities for managing hosts, that list and classify servers by using tags.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="feature-item">
                  <i class="icon-folder text-primary"></i>
                  <h3>Per-Project Configuration</h3>
                  <p class="text-muted">Essh supports per-project configuration. This allows you to change SSH hosts config by changing current working directory.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-item">
                  <i class="icon-rocket text-primary"></i>
                  <h3>Task Runner</h3>
                  <p class="text-muted">Task is a script that runs on remote and local servers. You can use it to automate your system administration tasks.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-item">
                  <i class="icon-grid text-primary"></i>
                  <h3>Modules</h3>
                  <p class="text-muted">Essh provides modular system that allows you to use, create and share reusable Lua code easily.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="example">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h2>Configuration Examples</h2>
            <p class="text-muted">
              Essh configuration is written in <a href="https://www.lua.org/">Lua</a>. <br />
              You can also use DSL syntax that is more human-readable. See below examples:
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="example-item">
            <h3>Defining Hosts</h3>
<pre><code class="language-lua">host "webserver-01" {
    HostName = "192.168.0.11",
    Port = "22",
    User = "kohkimakimoto",
    tags = {
        "web",
    },
}

host "webserver-02" {
    HostName = "192.168.0.12",
    Port = "22",
    User = "kohkimakimoto",
    tags = {
        "web",
    },
}

host "dbserver-01" {
    HostName = "192.168.0.13",
    Port = "22",
    User = "kohkimakimoto",
    tags = {
        "db",
    },
}
</code></pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="example-item">
            <h3>Defining Tasks</h3>
<pre><code class="language-lua">task "hello" {
    description = "say hello",
    prefix = true,
    backend = "remote",
    targets = "web",
    script = [=[
        echo "hello on $(hostname)"
    ]=],
}
</code></pre>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="download">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h2>Download</h2>
            <p class="text-muted">
              Essh is provided as a single binary. You can download it and drop it in your $PATH.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
            <a href="https://github.com/kohkimakimoto/essh/releases/latest" class="btn btn-outline btn-green btn-xl">Download</a>
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
  {{ partial "script.html" . }}
</body>

</html>
