<!DOCTYPE html>
<html lang="en" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    {{ partial "meta.html" . }}
    {{ partial "favicon.html" . }}
{{ .Scratch.Add "title" "" }}{{ if isset .Site.Data.titles .Title }}{{ .Scratch.Set "title" (index .Site.Data.titles .Title).title }}{{ else }}{{ .Scratch.Set "title" .Title}}{{end}}
    <title>{{ .Scratch.Get "title" }}</title>
    {{ partial "style.html" . }}
    <style type="text/css">
    </style>
  </head>
  <body>
    <body class="" data-url="/">
			WIP...
  </body>
</html>
