<!DOCTYPE html>
<html lang="en">

<head>
  <title>Using Drivers | Introduction | Essh - Extended ssh command</title>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

  <link rel="shortcut icon" href="/essh/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/agate.min.css">
<link rel="stylesheet" href="/essh/asciinema/asciinema-player.css">
<link rel="stylesheet" href="/essh/css/style.css">

</head>

<body class="layout-docs-single">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
      <a class="navbar-brand" href="/essh/">Essh</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="" href="/essh/intro/en/index.html">Intro</a>
        </li>
        <li>
          <a class="" href="/essh/docs/en/index.html">Docs</a>
        </li>
        <li>
          <a class="" href="https://github.com/kohkimakimoto/essh">Github</a>
        </li>
        <li>
          <a class="" href="https://github.com/kohkimakimoto/essh/releases/latest">Download</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

  <section class="single content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3">
          <div class="pull-right lang-list change-lang">
            <span>Change Language:</span>
            <ul>
              <li><a href="/essh/intro/en/using-drivers.html" class="disabled">en</a></li>
              <li><a href="/essh/intro/ja/using-drivers.html" class="">ja</a></li>
            </ul>
            </div>
          <section class="main-content">
            

<h1 id="using-drivers">Using Drivers</h1>

<p>Drivers in Essh are template system to construct shell scripts in tasks execution.
In this tutorial, You have already used default built-in driver that is included in Essh binary. You can use a custom driver to modify behavior of tasks.</p>

<p>To understand what drivers do, see the following short example:</p>

<pre><code class="language-lua">task &quot;example&quot; {
    script = {
        &quot;echo aaa&quot;,
        &quot;echo bbb&quot;,
    }
}
</code></pre>

<p>Try to run this task with <code>--debug</code> option to display the actual script.</p>

<pre><code>$ essh example --debug
...
[essh debug] run task: example
[essh debug] driver: default 
[essh debug] real local command: [bash -c 
export ESSH_TASK_NAME='example'
export ESSH_SSH_CONFIG=/var/folders/bt/xwh9qmcj00dctz53_rxclgtr0000gn/T/essh.ssh_config.767200705
export ESSH_DEBUG=&quot;1&quot;

echo aaa
echo bbb
]
</code></pre>

<p>According to the debug messages, the task ran the following bash script:</p>

<pre><code>export ESSH_TASK_NAME='example'
export ESSH_SSH_CONFIG=/var/folders/bt/xwh9qmcj00dctz53_rxclgtr0000gn/T/essh.ssh_config.767200705
export ESSH_DEBUG=&quot;1&quot;

echo aaa
echo bbb
</code></pre>

<p>This contents was generated by the <strong>built-in driver</strong>. The built-in driver is the following text template that is included in Essh binary:</p>

<pre><code>{{template &quot;environment&quot; .}}
{{range $i, $script := .Scripts}}{{$script.code}}
{{end}}
</code></pre>

<p><code>{{template &quot;environment&quot; .}}</code> generates environment variables section. In the above example, this section becomes the following code:</p>

<pre><code>export ESSH_TASK_NAME='example'
export ESSH_SSH_CONFIG=/var/folders/bt/xwh9qmcj00dctz53_rxclgtr0000gn/T/essh.ssh_config.767200705
export ESSH_DEBUG=&quot;1&quot;
</code></pre>

<p>And after that, Essh concatenates <code>script</code> texts with new line code.</p>

<pre><code>{{range $i, $script := .Scripts}}{{$script.code}}
{{end}}
</code></pre>

<p>The above code becomes the following:</p>

<pre><code>echo aaa
echo bbb
</code></pre>

<p>Then, Try to define your first custom driver using <code>driver</code> function.</p>

<pre><code class="language-lua">driver &quot;my_driver&quot; {
    engine = [=[
        {{template &quot;environment&quot; .}}
        
        set -e
        indent() {
            local n=&quot;${1:-4}&quot;
            local p=&quot;&quot;
            for i in `seq 1 $n`; do
                p=&quot;$p &quot;
            done;

            local c=&quot;s/^/$p/&quot;
            case $(uname) in
              Darwin) sed -l &quot;$c&quot;;;
              *)      sed -u &quot;$c&quot;;;
            esac
        }
        
        {{range $i, $script := .Scripts -}}
        echo '==&gt; step {{$i}}:{{if $script.description}} {{$script.description}}{{end}}'
        { 
            {{$script.code}} 
        } | indent; __essh_exit_status=${PIPESTATUS[0]}
        if [ $__essh_exit_status -ne 0 ]; then
            exit $__essh_exit_status
        fi
        {{end}}
    ]=],
}

task &quot;example&quot; {
    driver = &quot;my_driver&quot;,
    script = {
        &quot;echo aaa&quot;,
        &quot;echo bbb&quot;,
    }
}
</code></pre>

<p><code>driver</code> function needs the required parameter <code>engine</code>. This is the template text.
To use your custom driver, you need to set task&rsquo;s <code>driver</code> property.</p>

<p>In this example, the driver outputs a step number and description, and indented script&rsquo;s stdout. If you run the above task, you will get the following outputs.</p>

<pre><code>==&gt; step 0:
    aaa
==&gt; step 1:
    bbb
</code></pre>

<p>The description hasn&rsquo;t be displayed yet. You can set <code>description</code> property to each script&rsquo;s code.</p>

<pre><code>task &quot;example&quot; {
    driver = &quot;my_driver&quot;,
    script = {
        {
            description = &quot;output aaa&quot;,
            code = &quot;echo aaa&quot;,
        },
        {
            description = &quot;output bbb&quot;,
            code = &quot;echo bbb&quot;,
        },
    }
}
</code></pre>

<p>This code outputs the result like the following.</p>

<pre><code>==&gt; step 0: output aaa
    aaa
==&gt; step 1: output bbb
    bbb
</code></pre>

<p>For more information on drivers, see the <a href="/essh/docs/en/drivers.html">Drivers</a> section.</p>

<h2 id="next-steps">Next Steps</h2>

<p>In the <a href="/essh/intro/en/index.html">Introduction</a> guide, I have explained the basic features of Essh. If you want to get in-depth information about Essh, read the <a href="/essh/docs/en/index.html">documentation</a>.</p>

<p>Enjoy!</p>

          </section>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
          <section class="side-menu">
<ul>
<li><a href="index.html">Introduction</a></li>
<li><a href="installation.html">Installation</a></li>
<li><a href="using-as-a-ssh-client.html">Using As A SSH Client</a></li>
<li><a href="zsh-completion.html">Zsh Completion</a></li>
<li><a href="using-hooks.html">Using Hooks</a></li>
<li><a href="managing-hosts.html">Managing Hosts</a></li>
<li><a href="running-commands.html">Running Commands</a></li>
<li><a href="running-tasks.html">Running Tasks</a></li>
<li><a href="using-lua-libraries.html">Using Lua Libraries</a></li>
<li><a href="using-drivers.html">Using Drivers</a></li>
</ul>
</section>

        </div>

      </div>
    </div>
  </section>
  <footer>
  <div class="container">
    <p>Copyright (c) 2016 Kohki Makimoto</p>
    <ul class="list-inline">
      <li>
        <a href="https://github.com/kohkimakimoto/essh">Github</a>
      </li>
      <li>
        <a href="https://github.com/kohkimakimoto/essh/issues">Issues</a>
      </li>
      <li>
        <a href="https://github.com/kohkimakimoto/essh/releases">Releases</a>
      </li>
    </ul>
    <p>HTML template is <a href="https://github.com/BlackrockDigital/startbootstrap-new-age">startbootstrap-new-age</a> - Copyright 2013-2016 Blackrock Digital LLC.</p>
    <p>I use “Google Analytics” to collect information about use of this site.</p>
  </div>
</footer>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/lua.min.js"></script>
<script type="text/javascript" src="/essh/asciinema/asciinema-player.js"></script>
<script type="text/javascript" src="/essh/js/bundle.js"></script>



<script>hljs.initHighlightingOnLoad();</script>


</body>

</html>
