{{ if .Title }}{{ .Scratch.Set "title" .Title }}{{end -}}
{{ if .Site.Title }}{{ .Scratch.Add "title" " | " }}{{ .Scratch.Add "title" .Site.Title }}{{end -}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ .Scratch.Get "title" }}</title>
  {{ partial "meta.html" . }}
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  {{ partial "style.html" . }}
</head>

<body class="layout-single">
  {{ partial "navbar.html" . }}
  <section class="single content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
          <section class="main-content">
            {{ .Content }}
          </section>
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
  {{ partial "script.html" . }}
</body>

</html>
