{{ if eq .Params.category "docs" -}}
<section class="side-menu">
<ul>
<li><a href="index.html">Documentation</a></li>
</ul>
</section>
{{ end -}}
{{ if eq .Params.category "intro" -}}
<section class="side-menu">
<ul>
<li><a href="index.html">Introduction</a></li>
<li><a href="installation.html">Installation</a></li>
<li><a href="using-as-a-ssh-client.html">Using As A SSH Client</a></li>
<li><a href="zsh-completion.html">Zsh Completion</a></li>
<li><a href="using-hooks.html">Using Hooks</a></li>
<li><a href="managing-hosts.html">Managing Hosts</a></li>
<li><a href="running-commands.html">Running Commands</a></li>
<li><a href="running-tasks.html">Running Tasks</a></li>
<li><a href="using-lua-libraries.html">Using Lua Libraries</a></li>
<li><a href="using-modules.html">Using Modules</a></li>
<li><a href="using-drivers.html">Using Drivers</a></li>
</ul>
</section>
{{ end -}}
